@media screen and (max-width:480px){
    header a{
        display:none;
    }
    .secret{
        display:block;
        color:red;
        font-size: 80px;
    }
    .welcome-photo img{
        height:150px;
    }
}