@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

html {
    background: url(background.jpg);
}
body{
    width:100%;
    height:100px;
}
header{
    width:100%;
    height:100px;
    background-image:url(sea.jpg);
    background-size: cover;
}

.header-text{
    float:left;
    font-family: 'Noto Serif JP', sans-serif;
    padding-left:15px;
    margin-top:10px;
}
.secret{
    display: none;
}
.header-text h1{
    font-size:40px;
    margin-bottom:0px;
    margin-top:0px;
    text-align: center;
}
.header-text h2{
    font-size:15px;
    margin-top:0px;
}

.header-contents {
    display:flex;
    justify-content: flex-end;
    margin-right:0px;
}
.header-contents a{
    font-size:20px;
    text-decoration: none;
    padding:30px 10px;
    margin:10px;
    font-family: 'Noto Serif JP', sans-serif;
    color:#360fc2;
}




.contents{
    margin-bottom:400px;
    width:100%;
}

.welcome-photo img{
    width:100%;
    display: inline-block;
}

.introduction h1{
  border-bottom: solid 3px skyblue;
  font-family: 'Noto Serif JP', sans-serif;
  color: #17B882;
  font-size: 60px;
  position: relative;
  text-align: center;
  width: 90%;
  margin-left:6%;
  margin-top:100px;
}
.introduction h1:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #ffc778;
    bottom: -3px;
    width: 30%;
}

.contents-text{
    display:flex;
    justify-content: flex-end;
    margin-top:170px;
    
}
.contents-text ul{
    list-style: none;
    text-align: center; 
    font-family: 'Noto Serif JP', sans-serif; 
    font-size: 20px;
    margin-right:200px;
}
.poster{
    width:400px;
    height:600px;
    float:left;
    margin-left:150px;
    margin-top:170px;
}
.title{
    font-size: 25px;
    
}
.day{
    margin-top:50px;
}
.time{
    margin-bottom:50px;
}
.place{
    text-decoration: underline;
}
.specific-place{
    margin-bottom:50px;
}
.participant{
    text-decoration: underline;
}
footer{
    height:200px;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    padding-top:130px;
}